[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-shellscript;
Actions=runScript;
/
Name[tr_TR]=dds-monitor.desktop

[Desktop Action runScript]
Name=Dosya Gönder
Exec=/usr/bin/dds-monitor --mode rightclick --target deb %F
Icon=network-transmit
