[Unit]
Description=e-ag-networkprofil Başlatıldı.
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/e-ag-networkprofil

[Install]
WantedBy=multi-user.target
