[Desktop Entry]
Version=1.0
Name=E-Ag Tray Application
Name[tr]=e-ag  tray uygulaması
Type=Application
Comment[tr]=e-ag baslangic uygulaması
Terminal=false
Exec=/bin/bash -c "/usr/bin/e-ag-tray"
Icon=/usr/share/icons/e-ag.svg
Categories=Qt;Utility;
Keywords=ag;eag;e-ag-tray;
GenericName=e-ag-tray
GenericName[tr]=e-ag-tray
Name[tr_TR]=e-ag-tray.desktop
