Source: e-ag
Section: utils
Priority: optional
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Build-Depends: debhelper-compat (= 13),
    qt6-base-dev,
    qt6-multimedia-dev,
    libqt6opengl6-dev,
    libva-dev,
    libdrm-dev,
    libpipewire-0.3-dev,
    libx264-dev,
    libopus-dev,
    libavdevice-dev,
    libavformat-dev,
    libavcodec-dev,
    libavutil-dev,
    libswscale-dev,
    libswresample-dev
Standards-Version: 4.6.2
Homepage: https://github.com/bayramkarahan/e-ag
Rules-Requires-Root: no

Package: e-ag
Architecture: amd64
Depends: libavcodec59 | libavcodec61 | libavcodec62,
	libavformat59 | libavformat61 | libavformat62,
	libavutil57 | libavutil59 | libavutil60,
	libswscale6 | libswscale8 | libswscale9,
    libqt6core6,
    libqt6gui6,
    libqt6network6,
    libqt6widgets6,
    libqt6multimedia6,
    libqt6opengl6,
    libqt6openglwidgets6,
    libqt6keychain1,
    openssh-server,
    x11vnc,
    xtightvncviewer,
    net-tools,
    ethtool,
    wakeonlan,
    iptables,
    xorgxrdp,
    xrdp,
    ffmpeg,
    libvlc5,
    xdg-utils,
    dnsutils,
    xinput,
    ipset,
    libpcap0.8,
    jq,
    wmctrl,
    xdotool,
    rdesktop,
    ssvnc,
    netcat-openbsd,
    gnome-keyring,
    libsecret-1-0
Description: e-ag Uzaktan Yönetim ve Görüntüleme Sunucusu
 e-ag, yerel ağ üzerindeki bilgisayarları uzaktan izleme, 
 ekran paylaşımı, dosya aktarımı ve yönetim işlemleri için 
 geliştirilmiş bir Qt tabanlı sunucu uygulamasıdır. 
 FFmpeg ve Qt Multimedia bileşenlerini kullanarak 
 ekran görüntülerini gerçek zamanlı olarak yayınlar.

