Source: e-ag
Section: utils
Priority: optional
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Build-Depends: debhelper (>= 13),
               qtbase5-dev,
               qtdeclarative5-dev,
               qtmultimedia5-dev,
               pkg-config
Standards-Version: 4.6.2
Homepage: https://github.com/bayramkarahan/e-ag
Rules-Requires-Root: no

Package: e-ag
Architecture: amd64
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libavcodec59 (>= 7:5.0) | libavcodec61 (>= 7:5.0) | libavcodec62 (>= 7:5.0),
         libavformat59 (>= 7:5.0) | libavformat61 (>= 7:5.0) | libavformat62 (>= 7:5.0),
         libavutil57 (>= 7:5.0) | libavutil59 (>= 7:5.0) | libavutil60 (>= 7:5.0),
         libswscale6 (>= 7:5.0) | libswscale8 (>= 7:5.0) | libswscale9 (>= 7:5.0),
         libqt5core5a,
         libqt5gui5,
         libqt5network5,
         libqt5widgets5,
         libqt5printsupport5,
         libqt5multimedia5,
         libqt5multimediawidgets5,
         libqt5multimedia5-plugins,
         libqt5svg5,
         ffmpeg,
         openssh-server,
         x11vnc,
         rdesktop,
         xtightvncviewer,
         ssvnc,
         net-tools,
         netcat-openbsd,
         xrdp,
         ethtool,
         wakeonlan,
         gnome-keyring,
         libsecret-1-0,
         libqt5keychain1
Description: e-ag Uzaktan Yönetim ve Görüntüleme Sunucusu
 e-ag, yerel ağ üzerindeki bilgisayarları uzaktan izleme, 
 ekran paylaşımı, dosya aktarımı ve yönetim işlemleri için 
 geliştirilmiş bir Qt tabanlı sunucu uygulamasıdır. 
 FFmpeg ve Qt Multimedia bileşenlerini kullanarak 
 ekran görüntülerini gerçek zamanlı olarak yayınlar.

